[Unit]
Description=Periodically check for Intelligent Surveillance System updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
RandomizedDelaySec=15s
Persistent=true
Unit=surveillance-update.service

[Install]
WantedBy=timers.target
